<section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">{{ projectcount }}</span>
        <p>Students</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">{{ projectcount }}</span>
        <p>Courses</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">{{ projectcount }}</span>
        <p>Events</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <span data-toggle="counter-up">{{ projectcount }}</span>
        <p>Trainers</p>
      </div>
    </div>
  </div>
</section>
