<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About</h2>
      <p>About Us</p>
    </div>

    <div class="row">
      <div
        class="col-lg-6 order-1 order-lg-2"
        data-aos="fade-left"
        data-aos-delay="100"
      >
        <img
          src="../../../assets/img/young-attractive-smiling-student-showing-thumb-up-outdoors-campus-university.jpg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>We Make Maths Simple</h3>
        <p class="font-italic"></p>
        <ul>
          <li>
            We are an educational institute located in Kerala. Provide maths
            coaching for a different levels of classes. We make learning simple
            by clearing basic concepts. Classes conducted by 10+years
            experienced faculty.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
