<section id="popular-courses" class="courses">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Courses</h2>
      <p>Popular Courses</p>
    </div>

    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="course-item">
          <img src="assets/img/course-1.jpg" class="img-fluid" alt="..." />
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>Tenth</h4>
              <p class="price">$169</p>
            </div>

            <h3><a href="course-details.html">Tenth Maths Tuition</a></h3>
            <p>Tenth Maths Tuition For CBSE/STATE/IGSCE</p>
          </div>
        </div>
      </div>

      <!-- End Course Item-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="course-item">
          <img src="assets/img/course-2.jpg" class="img-fluid" alt="..." />
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>Plus Two</h4>
              <p class="price">$250</p>
            </div>

            <h3>
              <a href="course-details.html">Plus Two Maths Tuition</a>
            </h3>
            <p>Plus Two Maths Tuition For CBSE/STATE/IGSCE</p>
          </div>
        </div>
      </div>
      <!-- End Course Item-->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="course-item">
          <img src="assets/img/course-3.jpg" class="img-fluid" alt="..." />
          <div class="course-content">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4>IIT-JEE</h4>
              <p class="price">$180</p>
            </div>

            <h3><a href="course-details.html">IIT-JEE Foundation</a></h3>
            <p>Maths foundation class for IIT-JEE students</p>
            <!-- <div
              class="trainer d-flex justify-content-between align-items-center"
            >
              <div class="trainer-profile d-flex align-items-center">
                <img
                  src="assets/img/trainers/trainer-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <span>Brandon</span>
              </div>
              <div class="trainer-rank d-flex align-items-center">
                <i class="bx bx-user"></i>&nbsp;20 &nbsp;&nbsp;
                <i class="bx bx-heart"></i>&nbsp;85
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <!-- End Course Item-->
    </div>
  </div>
</section>
