/* form {
  max-width: 600px;
  border: 2pz solid;
  border: 2px solid #17a2b8;
  padding: 25px;
  margin: 50px;
}

.kk {
  max-width: 250px;
  background-color: #17a2b8;
  color: white;
  padding: 25px;
  margin: 50px;
  border-radius: 10px;
} */
